<row class="collapse">
    <columns valign="middle" small="12" large="12" >
        <wrapper class="menu-expander" valign="middle"><menu class="small-vertical collapse text-center">
            <item large="3" small="12" valign="middle" href="https://www.avaloncommunities.com/district-of-columbia/washington-apartments/ava-noma"><wrapper class="menu-wrap" valign="middle" bgcolor="#0A0A0A">Visit</wrapper></item>
            <item large="3" small="12" valign="middle" href="https://www.avaloncommunities.com/district-of-columbia/washington-apartments/ava-noma"><wrapper class="menu-wrap" valign="middle" bgcolor="#0A0A0A">Pricing</wrapper></item>
            <item large="3" small="12" valign="middle" href="https://www.avaloncommunities.com/district-of-columbia/washington-apartments/ava-noma"><wrapper class="menu-wrap" valign="middle" bgcolor="#0A0A0A">Share</wrapper></item>
            <item large="3" small="12" valign="middle" class="menu-last" href="https://www.avaloncommunities.com/district-of-columbia/washington-apartments/ava-noma"><wrapper class="menu-wrap" valign="middle" bgcolor="#0A0A0A">Apply</wrapper></item>
        
            
        </menu></wrapper>
    </columns>
    
    
    
    </row>    